//registry.npmjs.org/:_authToken=3fc51da3-4965-4db9-86da-cadcca0f7521
@fizz.js:registry=https://registry.npmjs.org/
access=public
init.author.email=fizzjs2021@gmail.com
init.author.name=fizzjs
init.license=ISC
